.badge{
  padding: .75em!important;
}

.table td{
  vertical-align: middle!important;
}

.add-client{
  margin-top: 23px;
}

.client-list{
  margin-top: 30px;
}

.formcreate{
  margin-top: 30px;
}

.client-detail{
  margin-top: 30px;
}

.clientUsers-list{
  /*
  max-width: 85% !important;
  */
  margin: 0 auto;
}